.decor-t 
  position: absolute 
.decor-t-1 
  width: 0
  height: 0
  border-left: 38px solid transparent
  border-right: 19px solid transparent
  border-bottom: 36px solid $color-pink
  transform: rotate(-23deg) 
  top: 125px
  right: 31%
.decor-t-2,
.decor-t-3
  width: 101px
  height: 102px
  overflow: hidden
  box-shadow: 0 16px 9px -17px  rgba(147, 192, 209, 0.7)
  &:after 
    content: ""
    position: absolute
    width: 50px
    height: 50px
    background: $color-white
.decor-t-2  
  &:after   
    transform: rotate(50deg)
    top: 79px
    left: 28px
    box-shadow: -9px -6px 27px -2px  rgba(147, 192, 209, 0.7)
.sec-services
  .decor-t-2 
    transform: rotate(-54deg)
    left: -88px
    top: 350px
.sec-form 
  .decor-t-21 
    transform: rotate(-188deg)
    right: 16px
    top: -2px
  .decor-t-22
    transform: rotate(-35deg)
    right: 3px
    top: -160px

.decor-t-3
  transform: rotate(40deg)
  right: 24px
  bottom: 270px
  &:after   
    transform: rotate(50deg)
    top: 79px
    left: 28px
    box-shadow: -9px -6px 27px -2px  rgba(147, 192, 209, 0.7)
.decor-t-4
  width: 0
  height: 0
  border-left: 9px solid transparent
  border-right: 0px solid transparent
  border-bottom: 34px solid #050505
  transform: rotate(115deg)
  right: 109px
  bottom: 255px

// Картинки на главной ====================

.img-smoke-home
  position: absolute
  right: -34px
  top: 0
  z-index: -1 