//НАЧАЛО: Ссылки-кнопки ======================
.btn-contact-us 
  position: relative
  z-index: 1
  display: inline-block
  background: linear-gradient(278.53deg, $color-blue 12.65%, $color-pink 95.96%)
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  color: $color-white
  font-size: 24px
  padding: 16px 36px
  border-radius: 100px
  @media screen and ( max-width: 640px )
    font-size: 16px
    padding: 8px 20px
  .btn-gradient 
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    background: linear-gradient(278.53deg, $color-pink 12.65%, $color-blue 95.96%)
    transition: opacity .2s linear
    border-radius: 100px
  &:hover .btn-gradient
    opacity: 1
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25)
  &:active
    transform: translateY(2px)
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25)
    &:hover .btn-gradient
      opacity: 1
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25)
.phone-link
  a.phone-link__tel 
    color: $color-white
    font-size: calc(12px + 12 * ((100vw - 993px) / (1600 - 993)))
    margin-right: 61px
    transition: .2s
    &:hover 
      color: $color-pink
    @media screen and ( max-width: 1132px )
      margin-right: 20px
    @media screen and ( max-width: 992.98px )
      font-size: 18px
    
       
      
      
.link__btn 
  position: relative
  z-index: 1
  display: inline-block
  font-size: 18px
  padding: 12px 31px
  border-radius: 100px
  transition: .2s
  .btn-fone 
    position: absolute
    z-index: -1
    top: -2px
    left: -1px
    width: 101%
    height: 108%
    transition: opacity .2s linear
    border-radius: 100px
  @media screen and ( max-width: 1360px )
    padding: 5px 18px
    margin-top: 2px
    
  
  
.link__btn-project
  border: 2px solid $color-pink
  color: $color-pink
  .btn-fone
    background: $color-pink
    opacity: 0
  &:hover
    color: $color-white
    .btn-fone 
      opacity: 1
.link__btn-brief
  border: none
  color: $color-white
  
  .btn-fone
    background: $color-pink
    opacity: 1
    transition: .3s
  &:hover
    .btn-fone
      background: #9d00ff
//КОНЕЦ: Ссылки-кнопки ======================