//НАЧАЛО: Меню верхнее ====================
.container-menu
  width: calc(305px + 1200 * ((100vw - 320px) / (1600 - 320)))
  margin-top: 36px
  margin-right: auto
  margin-left: auto
  margin-bottom: calc(80px + 93 * ((100vw - 632px) / (1600 - 632)))
  position: relative
  @media screen and ( max-width: 992px )
    // position: fixed
    margin-top: 0
.decor-1 
  position: absolute
  bottom: -28px
  left: 357px
.navbar 
  align-items: center
  @media screen and ( max-width: 632px )
    align-items: normal
    flex-direction: column
  .collapse 
    .navbar-nav 
      .nav-item 
        margin-right: 32px
        .nav-link
          font-size: calc(15px + 3 * ((100vw - 993px) / (1600 - 993)))
          transition: .2s
          color: $color-black
          font-weight: 600
          &:hover 
            color: $color-pink   
  .collapse-desktop
    @media screen and ( max-width: 992px )
      display: none
  .phone-link-desk
    @media screen and ( max-width: 992px )
      display: none
//КОНЕЦ: Меню верхнее ====================

//НАЧАЛО: Выпадающее меню ===============
.menu-collapse 
  position: fixed
  transition: .3s
  top: -400px
  left: 100px
  z-index: 99999
.menu-collapse-active 
  transform: translateY(461px)
.navbar-collapse
  background: #00ebeb
  padding: 20px
  border-radius: 10px
  .nav-item:not(:last-child)
    padding-bottom: 20px
//КОНЕЦ: Выпадающее меню ====================
  
      

  
  
//НАЧАЛО: Боковое меню фиксированное ===========
.menu-fixed
  position: fixed 
  top: 54px
  left: 28px
  bottom: 61px
  display: flex
  flex-direction: column
  justify-content: space-between
  z-index: 99999
  @media screen and ( max-width: 992px )
    top: 16px
    left: 81%
    right: 0
  .decor-line 
    display: block
    width: 40px
    height: 1px
    background: $color-black
    transform: rotate(90deg)
    @media screen and ( max-width: 992px )
      opacity: 0
      z-index: -9
  .block-sprite 
    .icon-svg
      margin-bottom: 33px    
    @media screen and ( max-width: 992px )
      opacity: 0
      z-index: -9


.active-color-svg 
  fill: $color-pink
.active-color 
  background: $color-pink !important
.active-animate-svg-top
  animation-duration: 1s
  animation-name: slidein1
@keyframes slidein1 
  from 
    transform: translateY(30px)
    transform: rotate(90deg)
  to 
    transform: rotate(-90deg)
.active-animate-svg-bottom
  animation-duration: 1s
  animation-name: slidein
@keyframes slidein 
  from
    transform: translateY(-30px)
    transform: rotate(-90deg)
    



// Не правильно компилирует transition-property, поэтому код прописан в css sprite.css ============
// Стили кнопки меню =========== 
// .navbar-toggler 
//   opacity: 0
//   z-index: -9
//   display: block
//   position: relative
//   margin: 0 auto
//   padding: 0
//   width: 26px
//   height: 32px
//   font-size: 0
//   text-indent: -9999px
//   appearance: none
//   box-shadow: none
//   border-radius: none
//   border: none
//   cursor: pointer
//   background: none
  // transition: background 0.3s 
  // &:focus 
  //   outline: none

  // span 
  //   display: block
  //   position: absolute
  //   top: 0
  //   left: 0
  //   right: 0
  //   bottom: 0
  //   margin: auto
  //   height: 3px
  //   background: rgb(8, 6, 6)
  //   &:before,
  //   &:after
  //     position: absolute
  //     display: block
  //     left: 0
  //     width: 100%
  //     height: 3px
  //     background-color: rgb(12, 9, 9)
  //     content: ""
  //   &:before
  //     top: -7px
  //   &:after
  //     bottom: -7px

// Не правильно компилирует transition-property, поэтому код прописан в css sprite.css ============
// .t-navbar-toggler 
//   span 
//     transition: background 0s, 0.3s
//     &:before,
//     &:after
//       transition-duration: 0.3s, 0.3s
//       transition-delay: 0.3s, 0s
//     &:before
//       transition-property: top, transform
//     &:after
//       transition-property: bottom, transform
//   &.navbar-toggler-active
//     span
//       background: none
//       &:before
//         top: 0
//         transform: rotate(45deg)
//       &:after
//         bottom: 0
//         transform: rotate(-45deg)
//       &:before,
//       &:after
//         transition-delay: 0s, 0.3s

//КОНЕЦ: Боковое меню фиксированное ===========