.icon-svg, .icon-footer {
  width: 20px;
  height: 20px;
  margin: .5em;
  cursor: pointer;
  fill: #000;
  transition: .2s;
}
.icon-svg:hover, .icon-footer:hover {
  fill: #EB0089;
  transform: scale(1.5);
}
.icon-card {
  width: 100%;
  height: 100%;
  margin: 0;
}
.logo-company {
  width: calc(116px + 100 * ((100vw - 993px) / (1600 - 993)));
  height: 60px;
  fill: #241654;
  transition: .3s;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .logo-company {
    width: 115px;
    fill: #fff;
  }
}

.logo-company:hover {
  fill: #EB0089;
}


/* Стили кнопки меню =========== */
.navbar-toggler {
  opacity: 0;
  z-index: -9;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 26px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: none;
  /* transition: background 0.3s; */
}
@media screen and (max-width: 992px) {
  .navbar-toggler {
    opacity: 1;
    z-index: 9;
  }
}
.but-navbar-z-index {
  z-index: 9;
  opacity: 1;
} 
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  background: #000;
}

.navbar-toggler span:before, .navbar-toggler span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
  content: "";
}
.navbar-toggler span.active-color:before, .navbar-toggler span.active-color:after {
  /* transition: background 0s 0.3s; */
  background: #ff3264;
  
}
.navbar-toggler span:before {
  top: -7px;
}
.navbar-toggler span:after {
  bottom: -7px;
}
/* .t-navbar-toggler {
  background-color: #ff3264;
} */
.t-navbar-toggler span.active-color {
  transition: background 0s 0.3s;
}
.t-navbar-toggler span.active-color:before, .t-navbar-toggler span.active-color:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.t-navbar-toggler span.active-color:before {
  transition-property: top, transform;
}
.t-navbar-toggler span.active-color:after {
  transition-property: bottom, transform;
}


.t-navbar-toggler span {
  transition: background 0s 0.3s;
}
.t-navbar-toggler span:before, .t-navbar-toggler span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.t-navbar-toggler span:before {
  transition-property: top, transform;
}
.t-navbar-toggler span:after {
  transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
/* .t-navbar-toggler.navbar-toggler-active {
  background-color: #cb0032;
} */
.t-navbar-toggler.navbar-toggler-active span {
  background: none;
}
.t-navbar-toggler.navbar-toggler-active span.active-color {
  background: none !important;
}
.t-navbar-toggler.navbar-toggler-active span:before {
  top: 0;
  transform: rotate(45deg);
}
.t-navbar-toggler.navbar-toggler-active span:after {
  bottom: 0;
  transform: rotate(-45deg);
}
.t-navbar-toggler.navbar-toggler-active span:before, .t-navbar-toggler.navbar-toggler-active span:after {
  transition-delay: 0s, 0.3s;
}

@media screen and (max-width: 992px) {
  .navbar-toggler span {
    background: #fff;
  }
  .navbar-toggler span:before, .navbar-toggler span:after {
    background: #fff;
  }
}

