=d-flex-sb-ai-center
  display: flex 
  justify-content: space-between
  align-items: center
=d-flex-center-ai-center
  display: flex 
  justify-content: center
  align-items: center
  flex-direction: column
=d-flex-sb-column
  display: flex
  justify-content: space-between
  flex-direction: column
  
@import "_color", "_menu", "_style-slick-slider", "_decor", "_link-effect"



@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype')
  src: url('../fonts/Montserrat-Light.ttf') format('truetype')
  font-weight: normal
  font-style: normal

body 
  font-family: 'Montserrat', sans-serif
  position: relative
  overflow: hidden  
  background: $color-white
header 
  @media screen and ( max-width: 992px )
    position: fixed
    z-index: 2
    left: 0
    right: 0
h1 
  font-weight: 900
  width: calc(305px + 400 * ((100vw - 320px) / (1600 - 320)))
  margin-bottom: 48px
  font-family: 'Montserrat-Bold', sans-serif
  font-size: calc(27px + 37 * ((100vw - 320px) / (1600 - 320)))
  @media screen and ( max-width: 992px )
    margin-bottom: 22px
h2 
  font-weight: 900
  font-family: 'Montserrat-Bold', sans-serif
  font-size: calc(23px + 25 * ((100vw - 320px) / (1600 - 320)))
h3 
  font-weight: 300
  max-width: 418px
  margin-bottom: calc(23px + 46 * ((100vw - 320px) / (1600 - 320)))
  // margin-bottom: 90px
  font-family: 'Montserrat-Light', sans-serif
  font-size: calc(20px + 16 * ((100vw - 320px) / (1600 - 320)))
p 
  font-size: calc(12px + 14 * ((100vw - 320px) / (1600 - 320)))
.row 
  flex-wrap: wrap
.d-flex 
  display: flex
.jc-center 
  justify-content: center
.ai-center 
  align-items: center
.ai-end 
  align-items: flex-end
.jc-flex-end 
  justify-content: flex-end
.jc-space-between
  justify-content: space-between
.flex-dr-col 
  flex-direction: column
.block-card
  margin: 0 0 123px 56px
  @media screen and ( max-width: 992px)
    margin: 0 0 45px
.col-1 
  width: 100%
.col-2 
  flex: 0 0 50%
  max-width: 50%
  padding: 0 15px
  @media screen and ( max-width: 992px )
    flex: 0 0 100%
    max-width: 100%
.border-0 
  border: none




// НАЧАЛО: Стили контейнеров =============
.container-body 
  width: calc( 100% - 285px )
  margin: 0 auto
  &:before 
    content: ' '
    position: absolute
    width: 814px
    height: 814px
    left: -310px
    top: 552px
    border: 1px solid $color-blue-shadow
    border-radius: 50%
    z-index: -1
    @media screen and ( max-width: 992px )
      display: none
  &:after 
    content: ' '
    position: absolute
    width: 10px
    height: 10px
    left: 118px
    top: 820px
    background: rgba(235, 0, 137, 0.3)
  @media screen and ( max-width: 992px )
    width: calc( 100% - 15px )
    margin: 0 auto 0 96px
    padding-top: 150px
  @media screen and ( max-width: 632px )
    margin: 0 15px
    
.container-card 
  width: calc(305px + 1100 * ((100vw - 320px) / (1600 - 320)))
  margin: 0 auto
  position: relative
.container-voucher 
  width: calc( 100% - 439px )
  margin: 0 67px 0 auto
  @media screen and ( max-width: 992.98px )
    width: calc(100% - 129px)
    margin: 0 auto
  @media screen and ( max-width: 634.98px )
    width: calc(100% - 15px)
.container-about-us 
  width: calc( 100% - 160px)
  margin: 0 12px 0 auto
  @media screen and ( max-width: 992px )
    width: calc( 100% - 15px)
    margin: 0 auto
    
.container-form 
  width: calc(320px + 1100 * ((100vw - 320px) / (1600 - 320)))
  margin: 0 67px 0 auto
  @media screen and ( max-width: 635px )
    margin: 0 auto
.container-footer
  width: calc(320px + 1100 * ((100vw - 320px) / (1600 - 320)))
  margin: 0 15px

// КОНЕЦ: Стили контейнеров =============

//НАЧАЛО: Карточки =====================
.card 
  flex: 0 0 33.333%
  max-width: 33%
  flex-wrap: wrap
  @media screen and ( max-width: 1458px )
    flex: 0 0 50%
    max-width: 50%
  @media screen and ( max-width: 964px )
    flex: 0 0 100%
    max-width: 100%
  .card-body
    text-align: center
    box-shadow: 9px 12px 40px #93C0D1
    border-radius: 50px
    background: $color-white
    .card-header 
      margin-bottom: 20px
      text-align: center
    .card-content
      h4 
        font-family: 'Montserrat-Bold', sans-serif
        font-weight: 900
        margin-bottom: 16px
      p 
        font-family: 'Montserrat-Light', sans-serif
        margin-bottom: 30px
.card-voucher 
  .card-header
    min-height: 150px
    margin-bottom: 19px
  .card-content
    font-size: 18px
    h4 
      margin-bottom: 26px
      font-weight: 900
      font-family: 'Montserrat-Bold', sans-serif
  
.card-v-1 
  flex: 0 0 28%
  max-width: 28%
.card-v-2
  flex: 0 0 40%
  max-width: 40%
.card-v-3
  flex: 0 0 32%
  max-width: 32%
.card-v-1,
.card-v-2,
.card-v-3
  @media screen and ( max-width: 1458px )
    flex: 0 0 50%
    max-width: 50%
  @media screen and ( max-width: 964px )
    flex: 0 0 100%
    max-width: 100%
 
//КОНЕЦ: Карточки =====================

//НАЧАЛО: Секция Главная ===================
.sec-home 
  padding-bottom: calc( 73px + 227 * ((100vw - 320px) / (1600 - 320)) )
  position: relative
  &:before
    content: ''
    width: calc(410px + 337 * ((100vw - 632px) / (1600 - 632)))
    height: calc(410px + 337 * ((100vw - 632px) / (1600 - 632)))
    right: -178px
    top: -246px
    box-shadow: 8px 10px 40px $color-blue-shadow
    position: absolute
    border-radius: 50%
    background: $color-blue
    z-index: -2
    @media screen and ( max-width: 992px )
      position: fixed
      z-index: 2
      width: 100%
      height: 64px
      top: 0
      left: 0
      border-radius: 0
      
    // @media screen and ( max-width: 632px )
    //   display: none
      
//КОНЕЦ: Секция Главная ===================

//НАЧАЛО: Секция "Услуги" ===================
.sec-services
  padding-bottom: calc( 73px + 77 * ((100vw - 320px) / (1600 - 320)) )
  .card-services
    padding: 0 46px 42px
    @media screen and ( max-width: 510px )
      padding: 0 0 15px
    .card-body
      padding: 40px 33px 17px
      transition: .3s
      &:hover
        background: $color-blue
        box-shadow: 10px 17px 67px #93C0D1
      &:hover .icon-card-services
        fill: $color-white
      &:hover .card-content h4 
        color: $color-pink
      &:hover p 
        color: $color-white
      .card-content
        +d-flex-sb-column
        height: calc(100% - 175px)
        h4 
          color: $color-blue   
          font-size: 24px
          min-height: 63px
        a 
          background: $color-pink
          font-family: 'Montserrat-Bold', sans-serif
          font-weight: 600
          border-radius: 100px
          color: $color-white
          padding: 9px 46px
          margin: 0 auto
          transition: .2s
          &:hover 
            background: $color-white
            color: $color-black
            box-shadow: 4px 7px 20px rgba(255, 255, 255, 0.4)
//КОНЕЦ: Секция "Услуги" ===================

//НАЧАЛО: Секция "Гарантии" ===================
.sec-voucher 
  padding-bottom: calc( 73px + 217 * ((100vw - 320px) / (1600 - 320)) )
  position: relative
  .blue-circle-voucher 
    position: absolute
    border-radius: 50%
    background: $color-blue
    z-index: -2
    width: 568px
    height: 568px
    left: -268px
    top: 242px
    &:before
      content: ''
      position: absolute
      width: 616px
      height: 616px
      left: -11px
      top: -33px
      border: 1px solid rgba(16, 21, 125, 0.5)
      transform: rotate(-24.58deg)
    &:after
      content: url('../img/decor-2.png')
      position: absolute
      top: 112px
      right: -39px
    @media screen and ( max-width: 992px )
      display: none
  .container-card 
    margin-bottom: 95px
  .container-voucher
    .card-voucher 
      padding: 18px
//КОНЕЦ: Секция "Гарантии" ===================


//НАЧАЛО: Секции "отзывы и о нас" ===================
.sec-reviews,
.sec-about-us
  font-family: 'Montserrat-Bold', sans-serif
  p 
    // font-size: 22px
    min-height: 80px
    text-indent: 10px
.sec-about-us 
  h2 
    padding: 0 0 148px
  h3 
    margin: 24px auto 53px
    text-align: center
// Декорации =================
.about-us__col-1
  position: relative
  &:before 
    content: url('../img/decor-klipartz.png')
    position: absolute
    bottom: -48px
    left: -50px
    @media screen and ( max-width: 992px )
      display: none
  &:after 
    content: ''
    width: 0
    height: 0
    border-left: 38px solid transparent
    border-right: 19px solid transparent
    border-bottom: 36px solid $color-pink
    transform: rotate(58deg) 
    top: 143px
    right: 232px
    position: absolute
    @media screen and ( max-width: 992px )
      display: none
.about-us__col-2
  position: relative
  &:before 
    content: url('../img/decor-klipartz-1.png')
    position: absolute
    top: -58px
    right: 0
    @media screen and ( max-width: 992px )
      display: none
  &:after 
    content: ''
    position: absolute
    top: -92px
    right: 24px
    width: 547px
    height: 547px
    border: 1px solid #10157D
    border-radius: 50%
    z-index: -1
    @media screen and ( max-width: 992px )
      display: none
//КОНЕЦ: Секции "отзывы и о нас" ===================




//НАЧАЛО: Секция с формой ===================

.sec-form 
  position: relative
  padding: 200px 0 50px 
  overflow: hidden
  &:before
    content: ' '
    position: absolute
    border-radius: 50%
    background: $color-blue
    z-index: -2
    width: calc(670px + 350 * ((100vw - 993px) / (1600 - 993)))
    height: calc(670px + 350 * ((100vw - 993px) / (1600 - 993)))
    left: -232px
    top: 142px
    @media screen and ( max-width: 992px )
      border-radius: 0
      width: 100%
      height: 300px
      top: 154px
      left: 0
  .col-2 
    position: relative
    h2 
      padding: 0 0 75px 
    .link-brief
      padding: 254px 0 0 0
      color: $color-white
      p 
        padding-bottom: 12px
      h2 
        font-size: calc(26px + 38 * ((100vw - 320px) / (1600 - 320)))
      @media screen and ( max-width: 992px )
        padding: 0 0 100px 0
        

  
form
  .form-row 
    margin: 0 -30px 60px 
    @media screen and ( max-width: 992px )
      margin: 0
    .col-1,
    .col-2 
      padding: 0 30px
      @media screen and ( max-width: 992px )
        padding: 24px 0
    .form-control 
      border-bottom: 1px solid rgba(0, 0, 0, 0.5)
      border-top: none
      border-left: none
      border-right: none
      width: 100%
      padding: 20px 0
      font-size: calc(14px + 10 * ((100vw - 320px) / (1600 - 320)))
      transition: 0.3s
      &:hover 
        border-bottom: 1px solid $color-pink
.btn-submit 
  margin: 0 40px 0 50px
  @media screen and ( max-width: 992px )
    margin: 0 20px 0 0
.info-person 
  font-size: calc(10px + 5 * ((100vw - 320px) / (1600 - 320)))
    

.form-check-input
  opacity: 0
  z-index: -1
  & + label
    display: inline-flex
    align-items: center
    user-select: none
    &:before
      content: ''
      width: 1em
      height: 1em
      border: 1px solid #adb5bd
      border-radius: 0.25em
      margin-right: 0.5em
      background-repeat: no-repeat
      background-position: center center
      background-size: 60% 60%
      transition: .3s
  &:checked+label:before
    border: none
    background-color: $color-pink
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25)
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
 
.input__wrapper
  position: relative
  #input-file 
    position: absolute
    opacity: 0
    visibility: hidden
  label 
    @media screen and ( max-width: 992px )
      width: 100%
      padding: 20px 0
      display: flex
      justify-content: flex-end
    .input__file-icon-wrapper 
      .icon-card 
        position: absolute
        left: 3px
        bottom: 0
        width: 45px
        height: 45px
        transition: .3s
        @media screen and ( max-width: 992px )
          position: relative
    
  &:hover .icon-card 
    fill: $color-pink
.input__file-button
  margin-left: 30px
  .input__file-button-text
    font-size: 18px
    font-weight: 600
.form-check-label 
  padding-left: 15px 





//КОНЕЦ: Секция с формой ===================
footer 
  padding: 73px 0 55px
  position: relative
  &:before 
    content: url('../img/group-img-footer.png')
    position: absolute
    bottom: 0
    right: 561px
    @media screen and ( max-width: 992px )
      display: none
  .col-footer-logo  
    border-bottom: 1px solid rgba(16, 21, 125, 0.3)
    padding-bottom: 10px
    margin-bottom: 10px
    .col-footer-logo__text 
      padding: 8px 76px 0 0 
      position: relative
      font-weight: 600
      font-size: 18px
      &:before
        content: ''
        position: absolute
        height: 48px
        border-left: 2px solid #EB0089
        left: -45px
        top: 0
        @media screen and ( max-width: 992px )
          display: none
  .col-footer-sprite
    .block-sprite 
      padding-top: 5px
      position: relative
      &:after
        content: ''
        position: absolute
        top: -157px
        right: 158px
        width: 411px
        height: 411px
        border: 1px solid #10157D
        border-radius: 50%
        z-index: -1
        @media screen and ( max-width: 992px )
          display: none