@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-dr-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-menu {
  width: calc( 100% - 117px);
  margin: 57px auto 173px;
  position: relative;
}

.container-menu .decor-1 {
  position: absolute;
  bottom: -28px;
  left: 357px;
}

.container-menu .navbar {
  margin-left: 50px;
}

.container-menu .navbar .collapse .navbar-nav .nav-item {
  margin-right: 32px;
}

.container-menu .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  -webkit-transition: .2s;
  transition: .2s;
  color: #000;
  font-weight: 600;
}

.container-menu .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #EB0089;
}

.container-body {
  width: calc( 100% - 285px);
  margin: 0 auto;
}

.container-body:before {
  content: ' ';
  position: absolute;
  width: 814px;
  height: 814px;
  left: -310px;
  top: 552px;
  border: 1px solid rgba(16, 21, 125, 0.3);
  border-radius: 50%;
  z-index: -1;
}

.container-body:after {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 118px;
  top: 820px;
  background: rgba(235, 0, 137, 0.3);
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  max-width: 776px;
  line-height: 78px;
  margin-bottom: 48px;
  font-family: 'Montserrat-Bold', sans-serif;
}

h2 {
  font-weight: 900;
  font-size: 48px;
  font-family: 'Montserrat-Bold', sans-serif;
}

h3 {
  font-size: 36px;
  font-weight: 300;
  max-width: 418px;
  margin-bottom: 90px;
  font-family: 'Montserrat-Light', sans-serif;
}

.blue-circle-home {
  position: absolute;
  width: 804px;
  height: 804px;
  border-radius: 50%;
  right: -178px;
  top: -246px;
  background: #10157D;
  -webkit-box-shadow: 8px 10px 40px rgba(16, 21, 125, 0.3);
          box-shadow: 8px 10px 40px rgba(16, 21, 125, 0.3);
  z-index: -2;
}

.img-smoke-home {
  position: absolute;
  right: -34px;
  top: 0;
  z-index: -1;
}

a.btn-contact-us {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(278.53deg, #10157D 12.65%, #EB0089 95.96%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 24px;
  padding: 16px 36px;
  border-radius: 100px;
  margin-bottom: 300px;
}

a.btn-contact-us .btn-gradient {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(278.53deg, #EB0089 12.65%, #10157D 95.96%);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  border-radius: 100px;
}

a.btn-contact-us:hover .btn-gradient {
  opacity: 1;
  -webkit-box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.phone-link a.phone-link__tel {
  color: #fff;
  font-size: 24px;
  margin-right: 61px;
  -webkit-transition: .2s;
  transition: .2s;
}

.phone-link a.phone-link__tel:hover {
  color: #EB0089;
}

.phone-link a.phone-link__btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  border: 2px solid #EB0089;
  color: #EB0089;
  font-size: 18px;
  padding: 12px 31px;
  border-radius: 100px;
  -webkit-transition: .2s;
  transition: .2s;
}

.phone-link a.phone-link__btn .btn-fone {
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -1px;
  width: 101%;
  height: 108%;
  opacity: 0;
  background: #EB0089;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  border-radius: 100px;
}

.phone-link a.phone-link__btn:hover {
  color: #fff;
}

.phone-link a.phone-link__btn:hover .btn-fone {
  opacity: 1;
}

.menu-fixed {
  position: fixed;
  top: 54px;
  left: 28px;
  bottom: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-fixed .decor-line {
  display: block;
  width: 40px;
  height: 1px;
  background: #000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-fixed .block-sprite .icon {
  margin-bottom: 33px;
}

.menu-fixed .navbar-toggler {
  margin: 8px 8px 0 8px;
  border: none;
  background: transparent;
  position: relative;
  height: 13px;
}

.menu-fixed .navbar-toggler:hover .navbar-toggler-icon,
.menu-fixed .navbar-toggler:hover .navbar-toggler-icon:before,
.menu-fixed .navbar-toggler:hover .navbar-toggler-icon:after {
  background: #EB0089;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon {
  width: 15px;
  height: 2px;
  display: block;
  background: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon:before, .menu-fixed .navbar-toggler .navbar-toggler-icon:after {
  content: ' ';
  width: 15px;
  height: 2px;
  display: block;
  background: #000;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon:before {
  top: 0;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon:after {
  bottom: 0;
}

.container-card {
  width: calc( 100% - 204px);
  margin: 0 auto;
}

h2.block-card {
  margin: 0 0 123px 56px;
}

.row-col-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 27%;
  text-align: center;
  padding: 40px 33px 17px;
  -webkit-box-shadow: 9px 12px 40px #93C0D1;
          box-shadow: 9px 12px 40px #93C0D1;
  border-radius: 50px;
  margin: 0 46px 42px;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.card:hover {
  background: #10157D;
}

.card:hover .icon-card {
  fill: #fff;
}

.card:hover .card-content h4 {
  color: #EB0089;
}

.card:hover p {
  color: #fff;
}

.card .card-header {
  margin-bottom: 20px;
}

.card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 175px);
}

.card .card-content h4 {
  color: #10157D;
  font-weight: 900;
  font-size: 24px;
  font-family: 'Montserrat-Bold', sans-serif;
  margin-bottom: 16px;
  min-height: 63px;
}

.card .card-content p {
  font-size: 22px;
  font-family: 'Montserrat-Light', sans-serif;
  margin-bottom: 30px;
  min-height: 80px;
}

.card .card-content a {
  background: #EB0089;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 600;
  border-radius: 100px;
  color: #fff;
  padding: 9px 46px;
  margin: 0 auto;
  -webkit-transition: .2s;
  transition: .2s;
}

.card .card-content a:hover {
  background: #fff;
  color: #000;
  -webkit-box-shadow: 4px 7px 20px rgba(255, 255, 255, 0.4);
          box-shadow: 4px 7px 20px rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=style.css.map */