.tool_triangle {
  position: absolute;
}

.tool_triangle-1 {
  width: 0;
  height: 0;
  border-left: 38px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 36px solid #EB0089;
  -webkit-transform: rotate(-23deg);
          transform: rotate(-23deg);
  top: 125px;
  right: 31%;
}

.tool_triangle-2,
.tool_triangle-3 {
  width: 101px;
  height: 102px;
  overflow: hidden;
  -webkit-box-shadow: 0 16px 9px -17px rgba(147, 192, 209, 0.7);
          box-shadow: 0 16px 9px -17px rgba(147, 192, 209, 0.7);
}

.tool_triangle-2:after,
.tool_triangle-3:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
}

.tool_triangle-2 {
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
  left: -88px;
  top: 350px;
}

.tool_triangle-2:after {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  top: 79px;
  left: 28px;
  -webkit-box-shadow: -9px -6px 27px -2px rgba(147, 192, 209, 0.7);
          box-shadow: -9px -6px 27px -2px rgba(147, 192, 209, 0.7);
}

.tool_triangle-3 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 24px;
  bottom: 270px;
}

.tool_triangle-3:after {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  top: 79px;
  left: 28px;
  -webkit-box-shadow: -9px -6px 27px -2px rgba(147, 192, 209, 0.7);
          box-shadow: -9px -6px 27px -2px rgba(147, 192, 209, 0.7);
}

.tool_triangle-4 {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 34px solid #050505;
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
  right: 109px;
  bottom: 255px;
}

.blue-circle {
  position: absolute;
  border-radius: 50%;
  background: #10157D;
  z-index: -2;
}

.blue-circle-home {
  width: 804px;
  height: 804px;
  right: -178px;
  top: -246px;
  -webkit-box-shadow: 8px 10px 40px rgba(16, 21, 125, 0.3);
          box-shadow: 8px 10px 40px rgba(16, 21, 125, 0.3);
}

.blue-circle-voucher {
  width: 568px;
  height: 568px;
  left: -268px;
  top: 242px;
}

.blue-circle-voucher::before {
  content: ' ';
  position: absolute;
  width: 616px;
  height: 616px;
  left: -11px;
  top: -33px;
  border: 1px solid rgba(16, 21, 125, 0.5);
  -webkit-transform: rotate(-24.58deg);
          transform: rotate(-24.58deg);
}

.blue-circle-voucher::after {
  content: url("../img/decor-2.png");
  position: absolute;
  top: 112px;
  right: -39px;
}

.img-smoke-home {
  position: absolute;
  right: -34px;
  top: 0;
  z-index: -1;
}

a.btn-contact-us {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: linear-gradient(278.53deg, #10157D 12.65%, #EB0089 95.96%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 24px;
  padding: 16px 36px;
  border-radius: 100px;
}

a.btn-contact-us .btn-gradient {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(278.53deg, #EB0089 12.65%, #10157D 95.96%);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  border-radius: 100px;
}

a.btn-contact-us:hover .btn-gradient {
  opacity: 1;
  -webkit-box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.phone-link a.phone-link__tel {
  color: #fff;
  font-size: 24px;
  margin-right: 61px;
  -webkit-transition: .2s;
  transition: .2s;
}

.phone-link a.phone-link__tel:hover {
  color: #EB0089;
}

.phone-link a.phone-link__btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  border: 2px solid #EB0089;
  color: #EB0089;
  font-size: 18px;
  padding: 12px 31px;
  border-radius: 100px;
  -webkit-transition: .2s;
  transition: .2s;
}

.phone-link a.phone-link__btn .btn-fone {
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -1px;
  width: 101%;
  height: 108%;
  opacity: 0;
  background: #EB0089;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  border-radius: 100px;
}

.phone-link a.phone-link__btn:hover {
  color: #fff;
}

.phone-link a.phone-link__btn:hover .btn-fone {
  opacity: 1;
}

.container-menu {
  width: calc( 100% - 117px);
  margin: 36px auto 173px;
  position: relative;
}

.container-menu .decor-1 {
  position: absolute;
  bottom: -28px;
  left: 357px;
}

.container-menu .navbar {
  margin-left: 50px;
}

.container-menu .navbar .collapse .navbar-nav .nav-item {
  margin-right: 32px;
}

.container-menu .navbar .collapse .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  -webkit-transition: .2s;
  transition: .2s;
  color: #000;
  font-weight: 600;
}

.container-menu .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #EB0089;
}

.menu-fixed {
  position: fixed;
  top: 54px;
  left: 28px;
  bottom: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99999;
}

.menu-fixed .decor-line {
  display: block;
  width: 40px;
  height: 1px;
  background: #000;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-fixed .block-sprite .icon-svg {
  margin-bottom: 33px;
}

.menu-fixed .navbar-toggler {
  margin: 8px 8px 0 8px;
  border: none;
  background: transparent;
  position: relative;
  height: 13px;
}

.menu-fixed .navbar-toggler:hover .navbar-toggler-icon,
.menu-fixed .navbar-toggler:hover .navbar-toggler-icon:before,
.menu-fixed .navbar-toggler:hover .navbar-toggler-icon:after {
  background: #EB0089;
}

.menu-fixed .navbar-toggler:hover .navbar-toggler-icon.active-color,
.menu-fixed .navbar-toggler:hover .navbar-toggler-icon.active-color:before,
.menu-fixed .navbar-toggler:hover .navbar-toggler-icon.active-color:after {
  background: #81eb00 !important;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon {
  width: 15px;
  height: 2px;
  display: block;
  background: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon:before, .menu-fixed .navbar-toggler .navbar-toggler-icon:after {
  content: ' ';
  width: 15px;
  height: 2px;
  display: block;
  background: #000;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon:before {
  top: 0;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon:after {
  bottom: 0;
}

.menu-fixed .navbar-toggler .navbar-toggler-icon.active-color:before, .menu-fixed .navbar-toggler .navbar-toggler-icon.active-color:after {
  background: #EB0089;
}

.active-color-svg {
  fill: #EB0089;
}

.active-color {
  background: #EB0089 !important;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow: hidden;
  background: #fff;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  max-width: 776px;
  line-height: 78px;
  margin-bottom: 48px;
  font-family: 'Montserrat-Bold', sans-serif;
}

h2 {
  font-weight: 900;
  font-size: 48px;
  font-family: 'Montserrat-Bold', sans-serif;
}

h3 {
  font-size: 36px;
  font-weight: 300;
  max-width: 418px;
  margin-bottom: 90px;
  font-family: 'Montserrat-Light', sans-serif;
}

.row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jc-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-40 {
  -webkit-box-flex: 40% !important;
      -ms-flex: 40% !important;
          flex: 40% !important;
  max-width: 40% !important;
}

.flex-32 {
  -webkit-box-flex: 32% !important;
      -ms-flex: 32% !important;
          flex: 32% !important;
  max-width: 32% !important;
}

.flex-28 {
  -webkit-box-flex: 28% !important;
      -ms-flex: 28% !important;
          flex: 28% !important;
  max-width: 28% !important;
}

.flex-dr-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-card {
  margin: 0 0 123px 56px;
}

.container-body {
  width: calc( 100% - 285px);
  margin: 0 auto;
}

.container-body:before {
  content: ' ';
  position: absolute;
  width: 814px;
  height: 814px;
  left: -310px;
  top: 552px;
  border: 1px solid rgba(16, 21, 125, 0.3);
  border-radius: 50%;
  z-index: -1;
}

.container-body:after {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 118px;
  top: 820px;
  background: rgba(235, 0, 137, 0.3);
}

.container-card {
  width: calc( 100% - 204px);
  margin: 0 auto;
  position: relative;
}

.container-voucher {
  width: calc( 100% - 439px);
  margin: 0 67px 0 auto;
}

.card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 33%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .card-body {
  text-align: center;
  -webkit-box-shadow: 9px 12px 40px #93C0D1;
          box-shadow: 9px 12px 40px #93C0D1;
  border-radius: 50px;
  background: #fff;
}

.card .card-body .card-header {
  margin-bottom: 20px;
  text-align: center;
}

.card .card-body .card-content h4 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 900;
  margin-bottom: 16px;
}

.card .card-body .card-content p {
  font-family: 'Montserrat-Light', sans-serif;
  margin-bottom: 30px;
}

.card-voucher .card-header {
  min-height: 150px;
  margin-bottom: 19px;
}

.card-voucher .card-content {
  font-size: 18px;
}

.card-voucher .card-content h4 {
  margin-bottom: 26px;
  font-weight: 900;
  font-family: 'Montserrat-Bold', sans-serif;
}

.sec-services {
  padding: 300px 0 150px;
}

.sec-services .card-services {
  padding: 0 46px 42px;
}

.sec-services .card-services .card-body {
  padding: 40px 33px 17px;
  -webkit-transition: .3s;
  transition: .3s;
}

.sec-services .card-services .card-body:hover {
  background: #10157D;
}

.sec-services .card-services .card-body:hover .icon-card-services {
  fill: #fff;
}

.sec-services .card-services .card-body:hover .card-content h4 {
  color: #EB0089;
}

.sec-services .card-services .card-body:hover p {
  color: #fff;
}

.sec-services .card-services .card-body .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 175px);
}

.sec-services .card-services .card-body .card-content h4 {
  color: #10157D;
  font-size: 24px;
  min-height: 63px;
}

.sec-services .card-services .card-body .card-content p {
  font-size: 22px;
  min-height: 80px;
}

.sec-services .card-services .card-body .card-content a {
  background: #EB0089;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 600;
  border-radius: 100px;
  color: #fff;
  padding: 9px 46px;
  margin: 0 auto;
  -webkit-transition: .2s;
  transition: .2s;
}

.sec-services .card-services .card-body .card-content a:hover {
  background: #fff;
  color: #000;
  -webkit-box-shadow: 4px 7px 20px rgba(255, 255, 255, 0.4);
          box-shadow: 4px 7px 20px rgba(255, 255, 255, 0.4);
}

.sec-voucher {
  padding: 0 0 290px;
  position: relative;
}

.sec-voucher::after {
  content: url("../img/decor-3.png");
  position: absolute;
  top: 135px;
  right: 181px;
}

.sec-voucher .container-card {
  margin-bottom: 95px;
}

.sec-voucher .container-voucher .card-voucher {
  padding: 18px;
}

.sec-reviews {
  padding-bottom: 200px;
}
/*# sourceMappingURL=style.css.map */